<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--Settings for Selenium-->
    <add key="Selenium.Desktop.DriverType" value="Chrome" />
    <add key="Selenium.Mobile.DriverType" value="Chrome" />
    <add key="Selenium.Browser.Headless" value="false" />
    <add key="Selenium.Timeout" value="60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NumOfTryForTestDataSetup" value="15" />
    <!--URLs for different sites-->
    <add key="selenium.BunningsAU.baseurl" value="http://bunnings-au-test-del.ext.dt.com.au/" />
    <add key="selenium.BunningsNZ.baseurl" value="http://bunnings-nz-test-del.ext.dt.com.au/" />
    <!--URL for product not available online-->
    <add key="SearchTerm.NotAvailableOnline" value="fire pits" />
    <!-- Search Product -->
    <add key="BunningsAU.3rdLevelProductCat.url" value="our-range/tools/power-tools/corded-drills/corded-drill-Driver" />
    <add key="BunningsNZ.3rdLevelProductCat.url" value="our-range/tools/power-tools/corded-drills/corded-drill-Driver" />
    <add key="BunningsAU.ProductID" value="0100240" />
    <add key="BunningsNZ.ProductID" value="03180767" />
    <add key="BunningsAU.Basic.BundleName" value="bedford-2-door-wardrobe_bbundle0051" />
    <add key="BunningsNZ.Basic.BundleName" value="stein-1000mm-georgia-alcove-shower-unit_bbundle0118" />
    <add key="BunningsAU.Inspiration.BundleName" value="apartment-kitchen_bbundle00291" />
    <add key="BunningsNZ.Inspiration.BundleName" value="island-kitchen_bbundle0013" />
    <!--Currency label-->
    <add key="BunningsAU.Currency" value="$" />
    <add key="BunningsAUFulfillment.Currency" value="$" />
    <add key="BunningsNZ.Currency" value="$" />
    <add key="BunningsNZFulfillment.Currency" value="$" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Bunnings.Shared"/>
    </stepAssemblies>
  </specFlow>
</configuration>